<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Lodging - Text</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
</head>
<body bgcolor="#999966">
<table width="122%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="15" nowrap="nowrap">&nbsp;</td>
	<td height="60" colspan="3" class="logo" nowrap="nowrap">Estancia Ongamira </td>
	<td width="4">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="15" nowrap="nowrap">&nbsp;</td>
	<td height="36" colspan="2" id="navigation" class="navText"><a href="home.html">HOME&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html">THE ENVIRONMENT</a></td>
	<td>&nbsp;</td>
	<td width="4">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td valign="top" width="15"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td valign="top" width="140"><img src="mm_spacer.gif" alt="" width="140" height="1" border="0" /></td>
	<td width="772" valign="top"><br />
	<table border="0" cellspacing="0" cellpadding="2" width="770">
		<tr>
		  <td width="403" class="pageName">About Us </td>
		  <td width="23" class="pageName">&nbsp;</td>
		<td width="332" class="pageName">Our Staff</td>
		</tr>

		<tr>
		  <td valign="top" class="bodyText"><p>The origins of Estancia Ongamira date back to the late XVIth Century. The building we use as our dining room today was built as a Chapel in 1597 by the Spanish Conquistador, Captain Juan de Burgos Celiz. <br />
		    Estancia Ongamira is a family owned and operated business, which began as a cattle ranch and family retreat in 1926, The hotel business is a new venture that commenced operations in late 2005. We have followed organic practices for over 30 years. </p>
		    <p>		      Estancia Ongamira is now a luxurious Hotel Estancia which offers all the conveniences of modern living such as high-speed internet access, telephone, fax, satellite broadcast television, pool, bar and restaurant with international cuisine. You can get away from it all and still stay in touch with the world while you relax and enjoy a well deserved holiday. <br />
	        Ongamira Valley is a beautiful mountain retreat, with clean air and mineral spring water.</p>
		    <p> We know that you will be delighted with your stay here because we wouldn't have it any other way. <br />
              </p></td>
		  <td class="bodyText">&nbsp;</td>
		<td class="bodyText" valign="top" >
		<p><span class="subHeader">Cristina Posse-Brazda</span><br />
		    <span class="sidebarText">Director</span><br />
		    <span class="calendarText">Born and raised in Argentina, Tina has spent most of her life abroad, having lived in Australia, Canada, USA, Italy and England. She is fluent in  English, Spanish, French and Italian. </span></p>
		<p><span class="subHeader">Ingrid Molloy</span><br />
		  <span class="sidebarText">Communications  Manager </span><br />
		  <span class="calendarText">Ingrid is Cristina's daughter and manages the Communications and On-line Reservations. </span></p>
		<p><span class="subHeader">Kelly Molloy</span><br />
		    <span class="sidebarText">General Manager </span><br />
		    <span class="calendarText">Kelly is Cristina's daughter and manages the day-to-day operations on the farm. During your stay, Kelly will ensure that all your needs are met, arrange tours and even fix you a drink at the bar! </span></p>
		<p><span class="subHeader">Jean-Jaques Fouard</span><br />
		    <span class="sidebarText">Head Chef</span><br />
		    <span class="calendarText">Son-in-Law Jean is our acclaimed chef. He will create healthy, mouthwatering meals from all over the world, such as French and Italian Provincial, traditional Asado (Argentine barbecue) and even Asian cuisine.</span></p>
		<span class="calendarText"><br />
		</span></td>
		</tr>
	</table>
	 <br />
	&nbsp;<br />	</td>
	<td valign="top">&nbsp;</td>
	<td width="4">&nbsp;</td>
	</tr>

	<tr>
	<td width="15">&nbsp;</td>
    <td width="140">&nbsp;</td>
    <td width="772">Website content &amp; design by Ingrid Molloy. All rights reserved.</td>
    <td width="5">&nbsp;</td>
    <td width="4">&nbsp;</td>
  </tr>
</table>
</body>
</html>
