<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina - In House Dining</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style2 {font-size: 14px}
.style3 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#999966">
<table width="115%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="15" nowrap="nowrap" bgcolor="#990000">&nbsp;</td>
	<td height="60" colspan="2" nowrap="nowrap" bgcolor="#990000" class="logo"><p>	  Estancia Ongamira </p>
	  </td>
	<td width="18" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="4"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="15" nowrap="nowrap" bgcolor="#CCCCCC">&nbsp;</td>
	<td height="36" bgcolor="#CCCCCC" class="navText" id="navigation" colspan="2"><a href="home.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html">THE ENVIRONMENT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="home_esp.html"><img src="images/flag.gif" width="30" border="0" title="Pagina en espa&ntilde;ol"/></a></td>
	<td width="18" bgcolor="#CCCCCC">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="4"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td valign="top" width="15"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td valign="top" width="54"><img src="mm_spacer.gif" alt="" width="35" height="1" border="0" /></td>
	<td width="796" valign="top"><br />
	<table border="0" cellspacing="0" cellpadding="2" width="781">
        <tr>
          <td class="pageName" colspan="3">Dining in Style</td>
        </tr>
       <tr>
         <td width="300" class="subHeader" valign="bottom">&nbsp;</td>
		 <td width="76" rowspan="2">&nbsp;</td>
		 <td width="393" height="100" rowspan="2"><img src="images/pub_night_sml.jpg" alt="Room image" width="375" height="250" border="0" /><img src="images/pub_inside_sml.jpg" alt="Room image" width="374" height="243" border="0" /></td>
        </tr>
        <tr>
          <td valign="top" class="bodyText"><p>Meal times are always a special occasion at Estancia Ongamira. We use the finest local ingredients and a wide variety of organic fruits, vegetables and herbs grown on our farm, depending on seasonal availability.</p>

            <h2>Expect the Unexpected</h2>
            <p> Our cuisine ranges from traditional Argentine asado (barbeque) through to  Asian-inspired dishes and upon special request we can prepare vegetarian and celiac friendly meals.</p>
<p>We have a well stocked bar, with both Argentine and imported liquor, so you are sure to find your favourite brands.</p>

<p>While you dine you can admire the original calicanto (stone and lime) wall and archway, part of the Chapel of St Joseph built in 1597 by the Spaniards as part of the effort to colonize the Native Indian tribes of the region.</p></td>
        </tr>
        <tr>
          <td valign="top" class="bodyText">&nbsp;</td>
          <td>&nbsp;</td>
          <td height="100">&nbsp;</td>
        </tr>
      </table>
	   <br />
	  &nbsp;<br />	</td>
	<td>&nbsp;</td>
	</tr>

	<tr>
	<td width="15" bgcolor="#990000">&nbsp;</td>
    <td width="54" bgcolor="#990000">&nbsp;</td>
    <td width="796" bgcolor="#990000"><span class="style3">Website content &amp; design by <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. All rights reserved.</span></td>
	<td width="18" bgcolor="#990000">&nbsp;</td>
  </tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>
</body>
</html>
