<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina - The Environment</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {font-size: 14px}
.style2 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#CCCCCC">
<table width="106%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="15" nowrap="nowrap" bgcolor="#990000">&nbsp;</td>
	<td height="60" colspan="2" nowrap="nowrap" bgcolor="#990000" class="logo">Estancia Ongamira</td>
	<td width="4" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="4"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="15" nowrap="nowrap" bgcolor="#CCCCCC">&nbsp;</td>
	<td height="36" bgcolor="#CCCCCC" class="navText" id="navigation" colspan="2"><a href="home.html">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html">THE ENVIRONMENT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="home_esp.html"><img src="images/flag.gif" width="30" border="0" title="Pagina en espa&ntilde;ol"/></a></td>
	<td width="4" bgcolor="#CCCCCC">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="4"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td valign="top" width="15"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td valign="top" width="35"><img src="mm_spacer.gif" alt="" width="35" height="1" border="0" /></td>
	<td width="760" valign="top"><br />
	<table border="0" cellspacing="0" cellpadding="2" width="736">
        <tr>
          <td class="pageName" colspan="3">Our Commitment to the Environment </td>
        </tr>
       <tr>
         <td width="424" class="subHeader" valign="bottom">&nbsp;</td>
		 <td width="36" rowspan="2">&nbsp;</td>
		 <td width="264" height="100" rowspan="2"><p><img src="images/Lake_2.jpg" alt="large product photo" width="250" height="250" border="0" /></p>
	      <p class="sidebarText">&nbsp;</p>
	      </td>
        </tr>
        <tr>
          <td valign="top" class="bodyText"><p><span class="style1">W</span>hen you come to  Ongamira Valley, you will marvel at how beautiful and serene it is. The <a href="http://en.wikipedia.org/wiki/Comeching%C3%B3n" class="bodyText" target="_blank">Comechingones</a> believed that this valley was sacred and with good reason. To witness sunset on the Colchiqui is an unforgettable experience! It is also one of the last   remaining native habitats of the endangered Andean Condors, and when   horseback riding up the mountain we are sometimes fortunate enough to   be able to see them close up. </p>
            <p><span class="style1">I</span>t's important for us to be conscious of  our impact on the natural environment and  that's why we at Estancia Ongamira make every effort to reduce the impact both we and our visitors have on this magnificent environment by reducing wastage, recycling plastics and glass, composting, minimising water use, using grey water for the garden and using no aggressive chemicals for cleaning. </p>
            <p class="subHeader">&nbsp;</p>
            <p>&nbsp;</p>
          </td>
        </tr>
      </table>
	  
	   <br />
	  &nbsp;<br />	</td>
	<td>&nbsp;</td>
	</tr>

	<tr>
	<td width="15" bgcolor="#990000">&nbsp;</td>
    <td width="35" bgcolor="#990000">&nbsp;</td>
    <td width="760" bgcolor="#990000"><span class="style2">Website content &amp; design by <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. All rights reserved.</span></td>
	<td width="4" bgcolor="#990000">&nbsp;</td>
  </tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>
</body>
</html>
