
<!--about page-->
<p>La Estancia Ongamira fue fundada a fines del Siglo XVI como Encomienda por los conquistadores Españoles, quienes por orden del rey edificaron la Capilla de San José para evangelizar y paciifcar a los pueblos Comechingones de la zona.</p>

<p>Desde 1926 la estancia ha pertenecido a la misma familia. Originalmente utilizada como un lugar templado para veranear y dedicado principalmente a la cria de ganado vacuno, el casco original ha sido restaurado y convertido en un hotel y restaurante de nivel internacional.</p>

<p>Además de brindar un servicio personalizado a nuestros huéspedes, la Estancia Ongamira también es un lugar especial para eventos corporativos, casamientos, agasajos y fiestas.</p>

<p>Estamos seguros de que sus vacaciones en la Estancia Ongamira serán una experiencia involvidable.</p>

<!--contact form-->
<p>La hora en C&oacute;rdoba es UTC/GMT -3 horas. Para la hora local por favor presione <a href="http://www.timeanddate.com/worldclock/city.html?n=485" target="_blank">aqui</a>. (Sitio en Ingl&eacute;s)</p>