<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#999966">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="19" nowrap="nowrap" bgcolor="#990000"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo">Estancia Ongamira</td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#CCCCCC">
	<td width="19" nowrap="nowrap">&nbsp;</td>
	<td height="36" colspan="3" bgcolor="#CCCCCC" class="navText" id="navigation"><a href="home.html">CASERO</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">NUESTROS HABITACIONES </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">EL CENAR </a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">SOBRE NOSOTROS </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVIDADES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">HAGA UN RESERVACI&Oacute;N </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACTO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html"> EL AMBIENTE</a>&nbsp;&nbsp;&nbsp;&nbsp;	  </td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="2" valign="top" bgcolor="#CCCCCC"><img src="mm_spacer.gif" alt="" border="0" height="1" width="10">&nbsp;&nbsp;<img src="images/flowerbunch2.jpg" alt="Home Page Image" width="215" height="306" border="0" align="middle" />
	
	  <table border="0" cellspacing="0" cellpadding="0" width="256">
		<tr>
		<td width="14">&nbsp;</td>
		<td width="205" class="sidebarText" id="padding"><p><strong>Camino Provincial Nro. 17,         Ongamira, Depto Ischilin, Provincia de C&oacute;rdoba, Argentina</strong></p>
		  <!--p>Tel. (03525) 427 057<br /> 
		    + 54 3525 427 057</p>
		  <p>Fax (03525) 427 058 <br />
		    + 54 3525 427 058</p-->
		  <p> E-mail&nbsp;&nbsp; inf&#111;&#064;&#111;ngami&#114;a.c&#111;m</p>		  
		  <p><br />
		    &nbsp;<br />		
	      </p></td>
		</tr>
	</table>	</td>
	<td width="97" valign="top"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
	<td width="596" valign="top"><br />
	<br />
	<table border="0" cellspacing="0" cellpadding="0" width="440">
		<tr>
		<td class="pageName"><p>Bienvenidos al coraz&oacute;n rural de la Argentina</p></td>
		</tr>

		<tr>
		<td class="bodyText"><p>Relaje y goce de la serenidad del Estancia Ongamira, si usted est&aacute;  encendido a caballo, relajando por nuestra piscina o gozando del  jard&iacute;n, sabemos que usted amar&aacute; el campo espectacular que tenemos  que ofrecer.     </p>
		  <p>Nuestro hotel se sit&uacute;a en el valle de Ongamira, que es indudablemente  uno de los valles m&aacute;s hermosos de las colinas de C&oacute;rdoba, el aire  est&aacute; limpio y el agua est&aacute; fresca a partir de un resorte de la  monta&ntilde;a. Abra todo el a&ntilde;o redondo, el Estancia es el lugar perfecto  a conseguir lejos de &eacute;l todo sin tacto perdidoso con el mundo  moderno. Ofrecemos Internet de alta velocidad tan bien como enviamos  por telefax y las instalaciones y nosotros del tel&eacute;fono estamos norte  convenientemente localizado de solamente 120 kil&oacute;metros de la ciudad  del aeropuerto internacional/dom&eacute;stico de C&oacute;rdoba y de la C&oacute;rdoba.  Transferencias del aeropuerto disponibles por requerimiento.     </p>
		  <p>Por las tardes usted puede gozar de m&uacute;sica y de bebidas en nuestra  publicaci&oacute;n despu&eacute;s de gozar de una comida fina. Nuestra cocina  es estilo tradicional refinado del pa&iacute;s pero nuestro cocinero Jean  puede cocinar comidas occidentales del homestyle si est&aacute; deseado.     </p>
		  <p>Hablamos ingl&eacute;s, espa&ntilde;ol fluidos, franc&eacute;s e italiano.</p>
		  <br />		</td>
		</tr>
	</table>	</td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td width="19" bgcolor="#990000">&nbsp;</td>
	<td width="245" bgcolor="#990000">&nbsp;</td>
	<td width="97" bgcolor="#990000">&nbsp;</td>
	<td width="596" bgcolor="#990000"><span class="style1">Contenido y dise&ntilde;o del Web site de <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. Todos los derechos  reservados.</span></td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>
</body>
</html>
