<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#CCCCCC">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="19" nowrap="nowrap" bgcolor="#990000"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo">Estancia Ongamira</td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#CCCCCC">
	<td width="19" nowrap="nowrap">&nbsp;</td>
	<td height="36" colspan="3" bgcolor="#CCCCCC" class="navText" id="navigation"><a href="home_esp.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms_es.html">HABITACIONES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining_es.html">GASTRONOM&Iacute;A</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about_es.html">QUIENES SOMOS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities_es.html">ACTIVIDADES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation_es.html">RESERVAS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact_es.html">CONTACTO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment_es.html">EL AMBIENTE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="home.html">ENGLISH PAGE</a></td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="2" valign="top" bgcolor="#CCCCCC"><img src="mm_spacer.gif" alt="" border="0" height="1" width="10">&nbsp;&nbsp;<img src="images/Best Publicity Pics/yard.png" alt="Home Page Image" width="300" height="200" border="0" align="middle" />
	
	  <table border="0" cellspacing="0" cellpadding="0" width="256">
		<tr>
		<td width="14">&nbsp;</td>
		<td width="205" class="sidebarText" id="padding"><p><strong>Camino Provincial Nro. 17,         Ongamira, Depto Ischilin, Provincia de C&oacute;rdoba, Argentina</strong></p>
		  <p>Tel. (03525) 427 057<br /> 
		    + 54 3525 427 057</p>
		  <p>E-mail&nbsp;&nbsp; inf&#111;&#064;&#111;ngami&#114;a.c&#111;m</p>
		  <p><br />
		    &nbsp;<br />		
	      </p></td>
		</tr>
	</table>	</td>
	<td width="97" valign="top"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
	<td width="596" valign="top"><br />
	<br />
	<table border="0" cellspacing="0" cellpadding="0" width="440">
		<tr>
		<td class="pageName"><p>Bienvenidos a la Estancia Ongamira </p></td>
		</tr>
<tr>
		<td class="pageName"><p class="logo">C&oacute;rdoba, Argentina </p></td>
		</tr>
		<tr>
		<td class="bodyText"><p>La Estancia Ongamira es un hotel rural   ubicado en uno de los valles mas pintorescos de las Sierras de C&oacute;rdoba,   y abarca mas de 500 hect&aacute;reas dedicadas a la producci&oacute;n org&aacute;nica. Cultivamos frutales y hortalizas de estaci&oacute;n asi   tambi&eacute;n   como aves de corral y ganado vacuno.</p>
		  <p> Los invitamos a disfrutar de la absoluta   paz y tranquilidad del paisaje, con su belleza intacta, imponentes formaciones   rocosas de arenisca rojiza y aguas minerales puras de vertiente. Las   sierras ofrecen una gran variedad de actividades, principalmente cabalgatas,   caminatas, y avistaje de una gran variedad de aves, incluyendo Condores   en su habitat natural.
		  </p>
		  <p>Abierto todo el a&ntilde;o, la Estancia Ongamira es el lugar perfecto   para descansar, sin perder contacto con el mundo. Contamos con internet   de banda ancha, televisi&oacute;n satelital, fax y tel&eacute;fono. Ofrecemos a nuestros hu&eacute;spedes un nivel internacional en servicios y atenci&oacute;n.</p>
		  <p>Estamos ubicados a 120Km al Norte de   la Ciudad de C&oacute;rdoba,   y del aeropuerto internacional y de cabotaje. Podemos organizar el translado   de nuestros huespedes.&nbsp;</p>
		  <p>Hablamos Castellano, Ingl&eacute;s, Franc&eacute;s e Italiano.&nbsp;</p>
		  <p class="subHeader">Clima</p>
		  <p>El Valle de Ongamira   Valley tiene un microclima propio. Estamos a una altura de 1,100 m.s.n.m.   En el verano las temperaturas diurnas llegan hasta 30&deg;C / 85&deg;F pero   de noche refresca  agradablemente. En el oto&ntilde;o e invierno las temperaturas   m&aacute;ximas llegan hasta los 23&deg;C   / 74&deg;F. Ocasionalmete cae un poco de nieve, generalmente en junio o julio.</p>
		  <p><br />	
		  
	      </p></td>
		</tr>
	</table>	</td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td width="19" bgcolor="#990000">&nbsp;</td>
	<td width="245" bgcolor="#990000">&nbsp;</td>
	<td width="97" bgcolor="#990000">&nbsp;</td>
	<td width="596" bgcolor="#990000" class="style1">Contenido y dise&ntilde;o del Web site de <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. Todos los derechos  reservados.</td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>
</body>
</html>
