<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#999966">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="19" nowrap="nowrap" bgcolor="#990000"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo">Estancia Ongamira</td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#CCCCCC">
	<td width="19" nowrap="nowrap">&nbsp;</td>
	<td height="36" colspan="3" bgcolor="#CCCCCC" class="navText" id="navigation"><a href="home_esp.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<!--a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html">THE ENVIRONMENT</a>&nbsp;&nbsp;&nbsp;&nbsp;	  </td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td-->
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="2" valign="top" bgcolor="#CCCCCC"><img src="mm_spacer.gif" alt="" border="0" height="1" width="10">&nbsp;&nbsp;<img src="flowerbunch2.jpg" alt="Home Page Image" width="215" height="306" border="0" align="middle" />
	
	  <table border="0" cellspacing="0" cellpadding="0" width="256">
		<tr>
		<td width="14">&nbsp;</td>
		<td width="205" class="sidebarText" id="padding"><p><strong>Camino Provincial Nro. 17,         Ongamira, Depto Ischilin, Provincia de C&oacute;rdoba, Argentina</strong></p>
		  <p>Tel. (03525) 427 057<br /> 
		    + 54 3525 427 057</p>
		  <p>Fax (03525) 427 058 <br />
		    + 54 3525 427 058</p>
		  <p> E-mail&nbsp;&nbsp; inf&#111;&#064;&#111;ngami&#114;a.c&#111;m</p>		  
		  <p><br />
		    &nbsp;<br />		
	      </p></td>
		</tr>
	</table>	</td>
	<td width="97" valign="top"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
	<td width="596" valign="top"><br />
	<br />
	<table border="0" cellspacing="0" cellpadding="0" width="440">
		<tr>
		<td class="pageName"><p>Bienvenidos a Ongamira </p></td>
		</tr>

		<tr>
		<td class="bodyText"><p>El Hotel Estancia Valle de Ongamira es un establecimiento       de turismo rural en un valle de belleza excepcional, ubicado a 120 Km al       Norte de la Ciudad de C&oacute;rdoba y del       aeropuerto internacional/cabotaje. </p>
		  <p>Ofrecemos comodas habitaciones con ba&ntilde;os       privados, calefacci&oacute;n, servicio de mucamas, televisi&oacute;n satelital, fax,       tel&eacute;fono e internet de banda ancha. </p>
		  <p>Actividades incluyen cabalgatas por el valle y las       sierras, nataci&oacute;n en los meses c&aacute;lidos, trekking y       visitas guiadas a lugares vecinos tales como los monasterios y estancias       Jesu&iacute;ticas, Patrimonio de la Humanidad, edificados en el siglo XVII.</p>
		  <p>Por la noche pueden disfrutar de       la mejor m&uacute;sica y tragos nuestro Pub, luego de una buena cena. Nuestra gastronom&iacute;a es de alto nivel. </p>
		  <p>Todas       nuestras habitaciones ofrecen ba&ntilde;os privados, calefacci&oacute;n, y servicio de       mucama. Contamos con tel&eacute;fono, fax e internet.</p>
		  <p>El Valle de Ongamira tiene un micro clima propio.           Estamos a 1.100 m.s.n.m. Las temperaturas m&aacute;ximas en el verano nunca llegan a           ser agobiantes. En el oto&ntilde;o e invierno durante el dia las           temperaturas son agradadables, por lo general hasta 23&deg;C,           pero al atardecer descienden notablemente. En los           inviernos muy frios suele caer un poco de nieve, generalmente el julio. </p>
		  
		  <p>Hablamos Castellano, Ingl&eacute;s,       Franc&eacute;s e Italiano.</p>
		  <p><br />		
	      </p></td>
		</tr>
	</table>	</td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td width="19" bgcolor="#990000">&nbsp;</td>
	<td width="245" bgcolor="#990000">&nbsp;</td>
	<td width="97" bgcolor="#990000">&nbsp;</td>
	<td width="596" bgcolor="#990000" class="style1">Contenido y dise&ntilde;o del Web site de Ingrid Molloy. Todos los derechos  reservados.</td>
	<td width="7" bgcolor="#990000">&nbsp;</td>
	<td width="12" bgcolor="#990000">&nbsp;</td>
	</tr>
</table>
</body>
</html>
