<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta content="description" name="Estancia Ongamira, Cordoba Argentina - Rural accomodation on a real organic farm." />
<meta name="keywords" content="wing shooting, argentina, estancia, cordoba, ongamira, jesus maria, capilla del monte, uritorco, organic farm, rural, country, accomodation, farm stay, hotel, rooms, bar" />
<title>Estancia Valle de Ongamira, Cordoba, Argentina</title>
<link href="mm_lodging1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {font-size: 9px}
-->
</style>
<script language="JavaScript">
/*
Browser Language Redirect script- By JavaScript Kit
For this and over 400+ free scripts, visit http://www.javascriptkit.com
This notice must stay intact
*/

//Enter ISO 639-2 letter Language codes to detect (see: http://www.w3.org/WAI/ER/IG/ert/iso639.htm):
var langcodes=new Array("en", "fr", "es", "ja", "zh", "default")

//Enter corresponding redirect URLs (last one is for default URL):
var langredirects=new Array("home.html", "home.html", "home_es.html", "home.html", "home.html", "home.html")

var languageinfo=navigator.language? navigator.language : navigator.userLanguage
var gotodefault=1

function redirectpage(dest){
if (window.location.replace)
window.location.replace(dest)
else
window.location=dest
}

for (i=0;i<langcodes.length-1;i++){
if (languageinfo.substr(0,2)==langcodes[i]){
redirectpage(langredirects[i])
gotodefault=0
break
}
}

if (gotodefault)
redirectpage(langredirects[langcodes.length-1])
</script>
</head>

<body>
<br />
<table width="300" border="0" align="center" cellpadding="5" cellspacing="10">
  <tr>
    <td align="center"><p><img src="night_sml.jpg" alt="Estancia Ongamira - world class accomodation in the heart of rural Cordoba, Argentina" width="375" height="250" align="middle" title="Estancia Ongamira, Cordoba, Argentina"/></p>
      <p class="pageName">Estancia Ongamira<br />
        <span class="navText">C&oacute;rdoba, Argentina</span></p>
      <table width="282" border="0" align="center" cellpadding="5" cellspacing="10">
        <tr>
          <td width="48"><p class="navText"><a href="home.html">English</a></p>
          </td>
          <td width="52"><p class="navText"><a href="home_esp.html">Espa&ntilde;ol</a></p>
          </td>
          <td width="112"><p class="navText"><br />
            Francais <br />
                <span class="style1">(En cours de preparation) </span></p>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
