<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Estancia Valle de Ongamira, Cordoba, Argentina</title>
<link href="mm_lodging1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {font-size: 9px}
-->
</style>
</head>

<body>
<br />
<table width="300" border="0" align="center" cellpadding="5" cellspacing="10">
  <tr>
    <td align="center"><p><img src="night_sml.jpg" alt="night" width="375" height="250" align="absmiddle" /></p>
      <p class="pageName">Estancia Ongamira<br />
        <span class="navText">C&oacute;rdoba, Argentina</span></p>
      <table width="282" border="0" align="center" cellpadding="5" cellspacing="10">
        <tr>
          <td width="48"><p class="navText"><a href="home.html">English</a></p>
          </td>
          <td width="52"><p class="navText"><a href="index2.htm">Espa&ntilde;ol</a></p>
          </td>
          <td width="112"><p class="navText"><br />
            Francais <br />
                <span class="style1">(En cours de preparation) </span></p>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
