<html>
<title>Estancia Valle de Ongamira - Cordoba, Argentina</title>
<head>
<font face="Tahoma","Arial">
</head>

<p><h1>Hotel de Estancia Valle de Ongamira</h1></p>

<p><h2>A beautiful Estancia in the Argentine heartland of Cordoba</h2></p>

<p>The Hotel de Estancia de Ongamira is situated in the gorgeous Ongamira valley in Las Sierras in the foothills of the Andes, directly opposite the Uritorco mountain.  This site provides full details of the Estancia and you can make a booking inquiry online! We have a <a href="http://www.ongamira.com/blog/">web blog</a> so that visitors can see the latest happenings on the farm and share their experiences of their visit to the Estancia and a photo gallery so you can see for yourself how beautiful Ongamira is.</p>

<p>The hotel provides the conveniences of home, far from the maddening crowd in the tranquility of rural Argentina. </p>


<p><h4>Hotel facilities:</h4></p>
<ul>
<li>Nine fully-appointed bedrooms, each with their own modern bathroom and in-room telephone. Double, triple and quad rooms are available
<li>Daily maid service
<li>Laundry service available
<li>Large swimming pool
<li>fax and Internet facilities
<li>Onsite restaurant and pub. 
<li>All meals provided. Alcohol is available at an additional charge but our prices are very reasonable.


</ul>

<br>


<p><h4>Nearby attractions include:</h4><br>
<ul><li>Cordoba
<li>Las Sierras
<li>Capilla del Monte
<li>Jesus Maria
<li>Ischilin
<li>Santa Catalina
</ul>



<!-- Include links to the Spanish version, and any other language versions -->

<center><a href="www.33ff.com/flags"><img src="images/flag.gif" ALT="Image used with permission from www.33ff.com/flags" border="0"></center></a>


<footer>Website content & design by Ingrid Molloy. All rights reserved.</footer>

</html>