<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.bodyText p {
}
.style2 {color: #000000}
.style3 {color: #990000}
.style4 {color: #CCCCCC}
.style5 {color: #333333; }
.style6 {letter-spacing:.1em; font: 12px arial;}
-->
</style>
</head>
<body bgcolor="#999966">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="19" nowrap="nowrap" bgcolor="#990000"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo style4">Estancia Ongamira</td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="19" nowrap="nowrap" bgcolor="#CCCCCC">&nbsp;</td>
	<td height="36" colspan="3" bgcolor="#CCCCCC" id="navigation"><span class="style6 style2"><a href="home.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="environment.html">THE ENVIRONMENT</a>&nbsp;</span>&nbsp;&nbsp;&nbsp;	  </td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="2" valign="top" bgcolor="#CCCCCC"><img src="mm_spacer.gif" alt="" border="0" height="1" width="10">&nbsp;&nbsp;<img src="flowerbunch2.jpg" alt="Home Page Image" width="215" height="306" border="0" align="middle" />
	
	  <table border="0" cellspacing="0" cellpadding="0" width="256">
		<tr>
		<td width="14">&nbsp;</td>
		<td width="205" class="sidebarText" id="padding"><p class="style5"><strong>Camino Provincial Nro. 17,         Ongamira, Depto Ischilin, Provincia de C&oacute;rdoba, Argentina</strong></p>
		  <p class="style5">Tel. (03525) 427 057<br /> 
		    + 54 3525 427 057</p>
		  <p class="style5">Fax (03525) 427 058 <br />
		    + 54 3525 427 058</p>
		  <p class="style5"> E-mail&nbsp;&nbsp; inf&#111;&#064;&#111;ngami&#114;a.c&#111;m</p>		  
		  <p><br />
		    &nbsp;<br />		
	      </p></td>
		</tr>
	</table>	</td>
	<td width="97" valign="top"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
	<td width="596" valign="top"><br />
	<br />
	<table border="0" cellspacing="0" cellpadding="0" width="440">
		<tr>
		<td class="pageName"><p class="style3">Welcome to the rural heart of Argentina </p></td>
		</tr>

		<tr>
		<td class="bodyText"><p>Relax and enjoy the serenity of the Estancia Ongamira, whether you're on horseback, relaxing by our pool or enjoying the garden, we know that you will love the spectacular countryside we have to offer. </p>
		  <p>Our  hotel is situated       in the Ongamira Valley,  which is undoubtedly one of the most beautiful valleys in the Cordoba       hills, the air is clean and the water is fresh from a mountain spring. Open all year round, the Estancia is the perfect place to get away from it all without losing touch with the modern world. We offer high-speed internet as well as fax and phone facilities and we're conveniently located only 120 Km North of the City of Cordoba and the Cordoba      international / domestic airport. Airport transfers available upon request. </p>
		  <p>In the evenings you can enjoy music and drinks in our Pub after       enjoying a fine meal. Our       cuisine is refined traditional country style but our chef Jean is able to cook western homestyle meals if desired. </p>
		<p>We speak fluent English, Spanish, French and Italian. </p>
		<br />		</td>
		</tr>
	</table>	</td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td width="19" bgcolor="#990000">&nbsp;</td>
	<td width="245" bgcolor="#990000">&nbsp;</td>
	<td width="97" bgcolor="#990000">&nbsp;</td>
	<td width="596" bgcolor="#990000"><span class="style4">Website content &amp; design by Ingrid Molloy. All rights reserved.</span></td>
	<td width="7">&nbsp;</td>
	<td width="12">&nbsp;</td>
	</tr>
</table>
</body>
</html>
