<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina - Make a Reservation</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #CCCCCC}
-->
</style>
</head>
<body bgcolor="#CCCCCC">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="15" nowrap="nowrap" bgcolor="#990000">&nbsp;</td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo"><br />
	Estancia Ongamira</td>
	<td width="36" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="15" nowrap="nowrap" bgcolor="#CCCCCC">&nbsp;</td>
	<td height="36" colspan="2" background="home.html" bgcolor="#CCCCCC" class="navText" id="navigation"><a href="home_esp.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms_es.html">HABITACIONES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining_es.html">GASTRONOM&Iacute;A</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about_es.html">QUIENES SOMOS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities_es.html">ACTIVIDADES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation_es.html">RESERVAS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact_es.html">CONTACTO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment_es.html">EL AMBIENTE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="home.html">ENGLISH PAGE</a></td>
	<td bgcolor="#CCCCCC">&nbsp;</td>
	<td width="36" bgcolor="#CCCCCC">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td valign="top" width="15"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td valign="top" width="140"><img src="mm_spacer.gif" alt="" width="140" height="1" border="0" /></td>
	<td width="573" valign="top"><br />
	<table border="0" cellspacing="0" cellpadding="2" width="525">
		<tr>
		<td width="521" class="pageName">Reservas</td>
		</tr>

		<tr>
		<td class="bodyText"><p>Para solicitar disponibilidad   de alojamiento, se ruega completar y enviar el siguiente formulario   &ndash; responderemos a la brevedad. Gracias.
		  <p><strong>Definicion:&nbsp;   Todas las</strong> habitaciones tienen ba&ntilde;os   privados. Las categoria Premium   son mas amplias, mas lujosas y cuentan con ba&ntilde;adera. Las habitaciones Standard   tienen una ducha.&nbsp; Nuestra atenci&oacute;n personalizada es la misma para   ambas categorias.</p>
		  <p><br />
		    <form action="http://formmail.dreamhost.com/cgi-bin/formmail.cgi" method="POST">
		<input type=hidden name="recipient" value="info">
		<input type=hidden name="subject" value="Website referral"><br />
		<input type=hidden name="required" value="email,phone">
		<input type=hidden name="print_blank_fields" value="1">
		<input type=hidden name="date_offset" value="-3" />
					
		<table width="489" border="0" cellspacing="7" cellpadding="3" align="center">
          <tr>
            <td width="202">Nombre</td>
            <td width="237"><input type=text name="realname" /></td>
			</tr>
          <tr>
            <td>E-mail</td>
            <td><input type=text name="email" /></td>
			</tr>
          <tr>
            <td>Teléfono</td>
            <td><input type=text name="phone" /></td>
			</tr>
		   <tr>
            <td>&iquest;Cuantos huéspedes?</td>
            <td><input type=text name="people" /></td>
			</tr>
		  <tr>
		  <td>N&uacute;mero de pasajeros menores de     12 a&ntilde;os:</td>
		  <td><input type=text name="children" /></td>
		  </tr>
		  <tr>
		  <td>Especificar edades:</td>
			<td><input type=text name="kids_ages" /></td>
			</tr>
		  <tr>
		  <td><p>&iquest;Comparten la habitaci&oacute;n con los padres? <br />(solo disponible en habitaciones Premium)</p></td>
		  <td><input type="radio" name="parentshare" value="yes">
		  Si&nbsp;
		  <input type="radio" name="parentshare" value="no">
		  Non</td>
		  </tr>
          <tr>
            <td>&iquest;Cuantas habitaciones?</td>
            <td><input type=text name="rooms" /></td>
			</tr>
		            <tr>
            <td><p>Categor&iacute;a:</p>              </td>
            <td><input type="radio" name="roomtype" value="standard_single">
            Standard - Camas individuales<br />
			<input type="radio" name="roomtype" value="standard_double">			
			Standard - Cama matrimonial<br />
			<input type="radio" name="roomtype" value="premium_single"> 
			Premium - Camas individuales<br />
			<input type="radio" name="roomtype" value="premium_double" checked/> 
			Premium - Cama matrimonial</td>
			</tr>
          <tr>
            <td> Fecha de llegada<br />
(dia-mes-a&ntilde;o)</td>
            <td><input type=text name="dates" /></td>
			</tr>
		  <tr>
		  <td>&iquest;Necesitan traslado a la Estancia?</td>
		  <td><input type="radio" name="transfer" value="yes" >Si&nbsp;<input type="radio" name="transfer" value="no">
		  Non</td>
		  </tr>
          <tr>
            <td>&iquest;Cuantas noches? </td>
            <td><input type=text name="nights" /></td>
			</tr>
		  <tr>
            <td>Dietas especiales - especificar</td>
            <td><input type="text" name="dietary_reqs"/></td>
			</tr>
		  <tr>
		  <!--tr>
            <td>Any additional comments or requests?</td>
            <td><input name="add_comments" type="text"/></td>
			</tr-->
		  <tr>
		  <td colspan="2"><span class="subHeader">Activities</span></td>
		  </tr>
		   <tr>
            <td colspan="2" class="sidebarText"><strong>Golf</strong></td>
			</tr>
			<td>&iquest;Cuantos jugadores?<br />
			  <input type="text" name="golf_players"></td>
            <td>Indicar fecha&nbsp;(dia-mes-a&ntilde;o)<br />
              <input type="text" name="golf_date"></td>
            </tr>
		  <tr>
            <td colspan="2" class="sidebarText"><strong>Cabalgatas</strong></td>
			</tr>
			<td>&iquest;Para cuantas personas?<br />
			    <input type="text" name="horse_riders"></td>
            <td>Indicar fecha (dia-mes-a&ntilde;o)<br />
              <input type="text" name="horses_date"></td>
            </tr>
        </table>
		<blockquote><INPUT type="submit" value="Enviar"></blockquote>
		<input type=hidden name="env_report" value="HTTP_USER_AGENT">
		<input type=hidden name="redirect" value="http://www.ongamira.com/thanks.html"><br />
		</form>
		<p>
		<p>&nbsp;</p>		</td>
		</tr>
	</table>
	 <br />
	&nbsp;<br />	</td>
	<td valign="top">&nbsp;</td>
	<td width="36">&nbsp;</td>
	</tr>

	<tr>
	<td width="15" bgcolor="#990000">&nbsp;</td>
    <td width="140" bgcolor="#990000">&nbsp;</td>
    <td width="573" bgcolor="#990000"><span class="style1">Website content &amp; design by <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. All rights reserved.</span></td>
    <td width="4" bgcolor="#990000">&nbsp;</td>
    <td width="36" bgcolor="#990000">&nbsp;</td>
  </tr>
  </table>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>

</body>
</html>
