<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Estancia Ongamira, Cordoba, Argentina - Thank You</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="mm_lodging1.css" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #CCCCCC}
-->
</style></head>
<body bgcolor="#999966">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="15" nowrap="nowrap" bgcolor="#990000">&nbsp;</td>
	<td height="60" colspan="3" nowrap="nowrap" bgcolor="#990000" class="logo">	Estancia Ongamira</td>
	<td width="58" bgcolor="#990000">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#a4c2c2">
	<td width="15" nowrap="nowrap" bgcolor="#CCCCCC">&nbsp;</td>
	<td height="36" colspan="2" bgcolor="#CCCCCC" class="navText" id="navigation"><a href="home.html">HOME &nbsp;&nbsp;&nbsp;&nbsp;<a href="rooms.html">OUR ROOMS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="dining.html">IN-HOUSE DINING</a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; 
      <a href="about.html">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="activities.html">ACTIVITIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="reservation.html">MAKE A RESERVATION </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="contact.html">CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="environment.html">THE ENVIRONMENT</a></td>
	<td bgcolor="#CCCCCC">&nbsp;</td>
	<td width="58" bgcolor="#CCCCCC">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="5"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td valign="top" width="15"><img src="mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td valign="top" width="140"><img src="mm_spacer.gif" alt="" width="140" height="1" border="0" /></td>
	<td width="535" valign="top"><br />
	<table border="0" cellspacing="0" cellpadding="2" width="397">
		<tr>
		<td width="393" class="pageName">Thank you! </td>
		</tr>

		<tr>
		<td class="bodyText"><p>&nbsp;</p>
		  <p>Thank you! Your inquiry has been received and we shall respond to you within 2 business days. </p>
		  <p>For urgent inquiries please call us on + 54 3525 427 057</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p><br />
		</p>
		</td>
		</tr>
	</table>
	 <br />
	&nbsp;<br />	</td>
	<td valign="top">&nbsp;</td>
	<td width="58">&nbsp;</td>
	</tr>

	<tr>
	<td width="15" bgcolor="#990000">&nbsp;</td>
    <td width="140" bgcolor="#990000">&nbsp;</td>
    <td width="535" bgcolor="#990000"><span class="style1">Website content &amp; design by <a href="http://www.chewingguminline.com" target="_blank" class="a_footer">Chewingguminline.com</a>. All rights reserved.</span></td>
    <td width="20" bgcolor="#990000">&nbsp;</td>
    <td width="58" bgcolor="#990000">&nbsp;</td>
  </tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291203-1";
urchinTracker();
</script>
</body>
</html>
